.login-form-container {
  height: 100vh;
  position: relative;
}

.login-form-container::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: linear-gradient(0deg, rgba(151, 191, 1, 0.2), rgba(151, 191, 1, 0.5)), url("./images/wallpaper/wallpaper.jpg");
  background-size: cover;
  background-position: top center;
  opacity: 0.6;
}

.login-form {
  position: relative;
  width: 30%;
  margin: auto;
  padding-top: 150px;
}

.login-form > * {
  font-weight: bold;
}

.btn-trial {
  background-color: #97bf11;
  color: white;
  border-radius: 20px 20px 20px 20px;
}

@media only screen and (max-width: 1000px) {
  .login-form {
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  .login-form {
    width: 70%;
  }
}
