.cards_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carCard {
  display: flex;
  height: 300px;
  flex-direction: column;
}

.carImageHolder {
  width: 250px;
  height: 200px;
  display: flex;
}

.cardImage {
  width: 100%;
  display: flex;
}

.carData {
  display: flex;
  flex-direction: column;
}

.carData div {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}