.page-position {
  margin-left: 15%;
}

h1 {
  text-align: center;
}

.list-data {
  padding: 100px;
}

.car_gif {
  margin: 0 auto;
}

.slide {
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.slide::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 60px;
  background-image: linear-gradient(90deg, #fff, transparent);
}

.slide::after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 60px;
  background-image: linear-gradient(-90deg, #fff, transparent);
}

.cardHolder {
  width: 600px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgHolder {
  height: 70%;
  display: flex;
}

.carousel-inner {
  height: 500px;
  display: flex;
}

@media only screen and (max-width: 1195px) {
  .list-data {
    padding: 0;
  }

  .slide {
    width: 100%;
  }

  .cardHolder {
    width: 400px;
  }

  .imgHolder {
    height: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .page-position {
    margin-left: 0;
  }
}
